@font-face {
    font-family: 'Robot';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    /* border: 1px solid red; */
    font-family: 'Robot', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* --- HEADER IMPLEMENTATION --- */
header {

    padding: 0px 150px;
    width: auto;
    max-width: 100%;
    height: 570px;
    background-color: #1F2937;
}

.topnav {
    
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.topnav-headerLogo {

}

.topnav-content {

    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.topnav-content a{

    margin-right: 19px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.topnav-headerLogo {

    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.header-main-content-container {
    
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 230px;
    margin-top: 110px;
    display: flex;
    
    background-color: #1F2937;
}

.header-main-content {
    
    background-color:#1F2937;
    width: 50%;
    height: auto;
    padding-right: 20px;
    
}

.header-main-content h1 {
    
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
}

.header-main-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main-content-button { margin-top: 10px; /* Sign up Button < Div >  */ }

.header-main-content-button button { /* Sign up Button */

    width: 130px;
    height: 40px;
    border: none;
    border-radius: 8px;
    
    font-size: 20px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.header-main-content-placeholder {
    width: 50%;
    height: auto;
}

.placeholder {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 230px;

    background-color: #6d747d;
    color: #E5E7EB;
    font-size: 18px;
}

/* --- MAIN BODY  IMPLEMENTATION --- */
main {
    
}