body { background-color: #5D6D7E; }

img {
    
    width: 100px;
    height: auto;
    background-color: #F0F0F0;
    border-radius: 50%;
}

h1 {
    width: 150px;
    border-bottom: 2px solid white;
}

a {
    margin-left: 20px;

    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 25px;
    
}